header img {
    width: 268px;
    height: 33px;
}

.navtools {
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
}

.navtools {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 1.5rem;
}

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}

#ÀPropos, #Carrière:hover, #Départements:hover {
    color: #98b300;
    text-decoration: none;
}

#Carrière {
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem 0;
    position: fixed;
    top: 0;
    width: 100vw;
    background-color: white;
    z-index: 1000;
}

.leadsection {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 8rem;
}

#headerlogo {
    width: 40px;
    aspect-ratio: auto 40 / 40;
    height: 40px;
}

#headerp {
    color: #00b39b;
    font-size: 3.29rem;
    font-family: Work Sans, Arial, sans-serif;
    font-weight: 300;
    letter-spacing: -0.3px;
    padding-top: 20px;
}

.twoparagraphs {
    color: #747474;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    padding-left: 260px;
    padding-right: 280px;
    width: 40%;
    justify-content: space-between;
}

.p1 {
    padding-right: 30px;
}

.forsection {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    padding: 1.375em 1.25em 0;
    font-size: 1.5em;
    font-weight: 300;
    line-height: 1.2;
    margin: 3.75rem auto 2.5rem;
    color: #fff;
    font-family: Work Sans, Arial, sans-serif;
    max-width: 1015px;
    padding: 0 20px;
    position: relative;
}

.for1 #for1title, .for2 #for2title, .for3 #for3title {
    font-size: 1.625em;
    font-weight: 400;
    color: #fff;
    margin: 0.3em 0;
    font-family: Work Sans, Arial, sans-serif;
}

.for1 {
    background-color: #00ccb1;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 2em 2em 0;
    justify-content: space-between;
    height: 345px;
}

.for2 {
    background-color: #3d83df;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 2em 2em 0;
    justify-content: space-between;
    height: 345px;
}

.for3 {
    background-color: #1b2734;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 2em 2em 0;
    justify-content: space-between;
    height: 345px;
}

.for1 select {
    background-color: #00ccb1;
    border: none;
    text-decoration: underline;
    margin-bottom: 30px;
    font-style: bold;
    font-size: 1em;
    font-weight: 300;
    line-height: 1.2;
    color: #fff;
    font-family: Arial, sans-serif;
}

.for2 select {
    background-color: #3d83df;
    border: none;
    text-decoration: underline;
    margin-bottom: 30px;
    font-style: bold;
    font-size: 1em;
    font-weight: 300;
    line-height: 1.2;
    color: #fff;
    font-family: Arial, sans-serif;
}

.for3 select {
    background-color: #1b2734;
    border: none;
    text-decoration: underline;
    margin-bottom: 30px;
    font-style: bold;
    font-size: 1em;
    font-weight: 300;
    line-height: 1.2;
    color: #fff;
    font-family: Arial, sans-serif;
}

#select1, #select2, #select3 {
    font-size: 1.5em;
    font-weight: 300;
    line-height: 1.2;
    color: #fff;
    font-family: Arial, sans-serif;
}

.sizelogsec3{
    width: 100px;
}

#section3logos  {
    display: flex;
    gap: 10px 50px;
    flex-wrap: wrap;
}

#section3logos img {
    width: 10px; 
    height: 19px;
}

#section3logos .logosec32 {
    height: 40px;
}

.section3 div {
    width: 60%;
    display: flex;
}

#section3title {
    font-size: 1.625em;
    margin: 0.25em 0 0.35em;
    padding-right: 1.5em;
    color: #00b39b;
